#$ TOOL ispLEVER Classic 2.0.00.17.20.15
#$ DATE Thu Dec 07 04:26:17 2017
#$ MODULE codigo
#$ PINS 6 Q_3_:20 Clock X:1 Q_0_:17 Q_2_:19 Q_1_:18
.type fr
.i 4
.o 8
.ilb Clock X Q_1_.Q Q_2_.Q
.ob Q_3_ Q_0_ Q_1_.C Q_1_.AR Q_2_.C Q_2_.AR Q_2_.D Q_1_.D
.p 10
1--- ~~1~1~~~
-1-- ~~~1~1~~
--1- ~~~~~~1~
--00 ~~~~~~~1
---- 00~~~~~~
0--- ~~0~0~~~
-0-- ~~~0~0~~
--1- ~~~~~~~0
--0- ~~~~~~0~
---1 ~~~~~~~0
.end
